
/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    font-size: 30px;
}
#User {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;  
    font-size: 30px;
}

#Pc {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    font-size: 30px 

}